*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.auth-container{
    width: 100%;
    height: 100vh;
    

}
.auth{
    width: 75%;
    height: 85%;
    border: 2px solid lightblue;
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
}